<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "selenium"
<test name="AboutUsPage">
    <classes>
        <class name="AboutUsPageTest"></class>
    </classes>
</test>
<test name="AddToFavorites">
        <classes>
            <class name="AddToFavoritesTest"></class>
        </classes>
    </test>
<test name="CheckoutProcess">
        <classes>
            <class name="CheckoutProcessTest"></class>
        </classes>
    </test>
    <test name="ContactPage">
        <classes>
            <class name="ContactPageTest"></class>
        </classes>
    </test>
    <test name="Login">
        <classes>
            <class name="LoginTest"></class>
        </classes>
    </test>
    <test name="Logout">
        <classes>
            <class name="LogoutTest"></class>
        </classes>
    </test>
    <test name="ProductDeteilsView">
        <classes>
            <class name="ProductDetailsViewTest"></class>
        </classes>
    </test>
    <test name="ProductFiltering">
        <classes>
            <class name="ProductFilteringTest"></class>
        </classes>
    </test>
    <test name="ProductSearch">
        <classes>
            <class name="ProductSearchTest"></class>
        </classes>
    </test>
    <test name="PromotionAndDiscount">
        <classes>
            <class name="PromotionAndDiscountTest"></class>
        </classes>
    </test>
    <test name="SearchSorting">
        <classes>
            <class name="SearchSortingTest"></class>
        </classes>
    </test>
    <test name="Security">
        <classes>
            <class name="SecurityTest"></class>
        </classes>
    </test>
    <test name="ShoppingCartManagment">
        <classes>
            <class name="ShoppingCartManagementTest"></class>
        </classes>
    </test>
    <test name="SocialIntegration">
        <classes>
            <class name="SocialIntegrationTest"></class>
        </classes>
    </test>
</suite>