<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "selenium"
<test name="AboutUsPage">
    <classes>
        <class name="AboutUsPageTest"></class>
    </classes>
</test>
<test name="FavoritesPage">
        <classes>
            <class name="AddToFavoritesTest"></class>
        </classes>
    </test>
<test name="CheckoutProcess">
        <classes>
            <class name="CheckoutTest"></class>
        </classes>
    </test>
    <test name="ContactPage">
        <classes>
            <class name="ContactsPageTest"></class>
        </classes>
    </test>
    <test name="LoginPage">
        <classes>
            <class name="LoginTest"></class>
        </classes>
    </test>
    <test name="ProductPage">
        <classes>
            <class name="ProductViewTest"></class>
        </classes>
    </test>
    <test name="SearchPage">
        <classes>
            <class name="SearchTest"></class>
        </classes>
    </test>
    <test name="PromotionPage">
        <classes>
            <class name="PromotionPageTest"></class>
        </classes>
    </test>
    <test name="CartPage">
        <classes>
            <class name="CartTest"></class>
        </classes>
    </test>
    <test name="SocialPage">
        <classes>
            <class name="SocialPage"></class>
        </classes>
    </test>
</suite>